<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<ul>
    <%- include('fragments/header'); %>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container justify-content-center text-center align-items-center">
<div class="row row-cols-1 row-cols-md-2">
<div class="card mb-4 col-lg-6 border border-dark" style="max-width: 540px; ">
<a href="/addProducto" style="text-decoration: none;color:black">
  <div class="row no-gutters">
    <div class=" col-6 col-md-4  col-lg-4">
      <img src="/img/carritoN.jpg" alt="..."  class="card-img-top">
    </div>
    <div class="col-6 col-md-8 col-lg-4">
      <div class="card-body ">
        <h5 class="card-title letra" >Agregar Producto</h5>
      </div>
    </div>
  </div>
</a>
</div>
<div class="card mb-4 col-lg-6 border border-dark" style="max-width: 540px; margin-left: 20px; " >
  <a href="/add" style="text-decoration: none;color:black" >
  <div class="row no-gutters">
    <div class=" col-6 col-md-4  col-lg-4">
      <img src="/img/usuario.jpg" alt="..."  class="card-img-top">
    </div>
    <div class="col-6 col-md-8 col-lg-4">
      <div class="card-body">
        <h5 class="card-title letra ">Agregar Usuario</h5>
      </div>
    </div>
  </div>
  </a>
</div>
<div class="card mb-4 col-lg-6 border border-dark" style="max-width: 540px;  " >
  <a href="/addCategoria" style="text-decoration: none;color:black" >
  <div class="row no-gutters">
    <div class=" col-6 col-md-4  col-lg-4">
      <img src="/img/categoria.jpg" alt="..."  class="card-img-top">
    </div>
    <div class="col-6 col-md-8 col-lg-4">
      <div class="card-body">
        <h5 class="card-title letra ">Agregar Categoria</h5>
      </div>
    </div>
  </div>
  </a>
</div>

</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script> 
</body>

</html>